<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head('Create Book')">
</head>
<body>
<section th:include="fragment.html :: navbar">
</section>

<div class="container">
    <form method="post" th:action="@{/book/create/}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="book_author">Author(s)</label>
            <input type="text" class="form-control" name="author" id="book_author" th:value="${dto.author}" placeholder="John Doe, Uncle Bob...">
        </div>
        <div class="form-group">
            <label for="book_page_count">Publisher</label>
            <input type="text" class="form-control" name="publisher" id="book_page_count" th:value="${dto.publisher}" placeholder="e.x Person">
        </div>
        <div class="form-group">
            <label for="book_page_count">Year</label>
            <input type="number" class="form-control" name="year" id="book_page_count" th:value="${dto.year}" placeholder="2019...">
        </div>
        <div class="form-group">
            <label for="book_page_count">Language</label>
            <input type="text" class="form-control" name="language" id="book_page_count" th:value="${dto.language}" placeholder="English, French....">
        </div>
        <div class="form-group">
            <label for="book_page_count">Page Count</label>
            <input type="number" class="form-control" name="pageCount" id="book_page_count" th:value="${dto.pageCount}" placeholder="0,1,2, ... ">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" th:value="${dto.description}" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" id="summary" name="summary" th:value="${dto.summary}" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="file">Upload File</label>
            <input type="file" class="form-control-file" id="file" name="file"/>
        </div>
        <div class="form-group">
            <label for="img">Upload Image</label>
            <input type="file" class="form-control-file" id="img" name="img"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

</body>
</html>